@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}
/*Header*/
header{
    background: #00a9ff;
}

.container-header {
  background: #00a9ff;
  color: #000000c0;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9px;
  transition: all 0.5s ease;
  max-width: 1300px;
  margin: 0 auto;
}


.logo {
  height: 90px;
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.navbar {
  display: flex;
  list-style-type: none;
}
.navbar a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: #000000c0;
}
.main-header {
  display: flex;
  align-items: center;
}
.main-header a {
  margin-right: 25px;
  margin-left: 10px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.5s ease;
}
.main-header a:hover {
  color: #000000c0;
}
.user {
  display: flex;
  align-items: center;
}
.user img {
  font-size: 28px;
  margin-right: 10px;
}
/*Main*/

/*Footer*/
.footer{
  padding: 25px 0;
  background: #005580;
}
.footer .social {
  text-align: center;
  padding: 25px;
}
.footer .social a{
  font-size: 24px;
  border: 1px solid #00000056;
  background-color: #fff;
  width: 30px;
  height: 30px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.60;
  transition: all 0.5s ease;
}

.footer .social a:hover{
  opacity: 1;
}
.footer ul {
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}
.footer ul li a{
  color: #fff;
  opacity: 0.80;
  transition: all 0.5s ease;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a:hover{
  opacity: 1;
}
.footer .copyright-footer{
  text-align: center;
  font-size: 13px;
  color: #fff;
  padding-top: 15px;
  opacity: 0.80;
  transition: all 0.5s ease;
}

/*Banner*/

.titulo{
  padding: 50px 0 50px 0;
}
.titulo h1{
  text-align: center;
  padding-bottom: 15px;
  
}

.txt-img{
  display:inline-flex;
  align-items: center;
  padding: 60px 0;
}

.txt-img .txt h2{
  text-align: center;
  padding-bottom: 10px;
}

.banner-txt{
    background-image: url(../img/duvida_seguro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
    font-size: 30px;
    text-align: justify;
    width: 100%;
}

  .banner-txt a{
          text-decoration: none;
          color: black;
          background: white;
          padding: 20px 60px;
          border-radius: 40px;
          margin-top: 15px;
          transition: .30s;

    }

    .banner-txt a:hover{
            transform: scale(0.7);

    }

    #image{
      max-width: 100%;
    }




