<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/style.css?Version=1" />
    <link rel="stylesheet" h ef="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />

    <!--slick -->
    <title>Home</title>
</head>
<header>
    <div class="container-header">
        <a href="#">
            <!-- Link para a home -->
            <img class="logo"
                 src="~/css/VSsecurity.png"
                 alt="Logo da VSsecurity azul e branco" />
        </a>
        <ul class="navbar">
            <li><a href="#">Home</a></li>
            <!-- Link para a home -->
            <li><a href="~/Cotacao">Cotação</a></li>
            <!-- Link para a cotação -->
            <li><a href="~/Duvida">Dúvidas</a></li>
            <!-- Link para as dúvidas -->
        </ul>
        <div class="main-header">
            <a href="~/Login" class="user"><img src="~/css/user-3-fill.svg" alt="" /> Login</a>
            <a href="~/Cadastro" class="user">
                <img src="~/css/user-settings-fill.svg" alt="" />Registrar
            </a>
        </div>
    </div>
</header>
<body>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div>
        <img src="~/css/seje2.png" width="1450" height="900" />
    </div>
        

</body>
<footer>
    <div class="footer">
        <div class="social">
            <a target="_blank"
               rel="noopener noreferrer"
               href="https://github.com/Je-Carlos/PIM-IV">
                <img src="~/css/github.svg" alt="" />
            </a>
            <a target="_blank"
               rel="noopener noreferrer"
               href="https://discord.gg/NB4ZQVMgq6">
                <img src="~/css/discord.svg" alt="" />
            </a>
            <a target="_blank"
               rel="noopener noreferrer"
               href="https://www.twitch.tv/gerarrdi">
                <img src="~/css/twitch.svg" alt="" />
            </a>
        </div>
        <ul class="list-footer">
           
            <a style="color: lightgray" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            
            <li><a href="~/Cotacao">Cotação</a></li>
            
            <li><a href="~/Duvida">Dúvidas</a></li>
            


        </ul>
        <p class="copyright-footer">&copy; Copyright 2022 VS Security</p>

    </div>
</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="~/js/slick.min.js"></script>
<script src="~/js/js.js"></script>
</html>
