@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/style.css?Version=1" />
    <link rel="stylesheet" href="~/css/duvida.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/duvida.css" />

    <title>Duvida</title>
</head>
<header>
    <div class="container-header">
        
            <img class="logo"
                 src="~/css/VSsecurity.png"
                 alt="Logo da VSsecurity azul e branco" />
        </a>
        <ul class="navbar">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Cotacao" asp-action="Index">Cotação</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Duvida" asp-action="Index">Dúvidas</a>
        </ul>
        <div class="main-header">
            <a href="~/Login" class="user">
                <img src="~/css/user-3-fill.svg" alt="" /> Login
            </a>
            <a href="~/Cadastro" class="user">
                <img src="~/css/user-settings-fill.svg" alt="" />Registrar
            </a>
        </div>
    </div>
</header>
<body>
    
    <div class="page-container">
        <div class="row row-1">
            <div class="conteudo">
                <div class="col col-1 col-w12">
                    <div class="block block-1 image">
                        <img alt="duvida_seguro"
                             class="center autowidth"
                             src="~/css/duvida_seguro.jpg"
                             style="max-width: 1200px" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-2">
            <div class="conteudo">
                <div class="col col-1 col-w12">
                    <div class="block block-1 heading">
                        <h1>Olá, está com dúvidas?</h1>
                    </div>
                    <div class="block block-2 heading">
                        <h3>
                            Então vou te explicar um pouco como funciona um seguro siga
                            abaixo e vamos lá!
                        </h3>
                    </div>
                    <div class="block block-3 paragraph">
                        <p>
                            O seguro é um contrato firmado entre o dono do veículo e uma
                            seguradora, no qual é pago uma taxa pelo contratante para que
                            caso haja possíveis prejuízos (previstos na apólice) diante o
                            veículo, como danos pessoais ou a terceiros além de roubo. O
                            valor de um seguro é calculado a partir do valor do automóvel
                            que será contratado o seguro além de determinados riscos a que
                            ele está submetido, desta forma, as seguradoras necessitam de
                            informações sobre o dono do veículo.
                        </p>
                        <p>
                            A Top Seguros Brasil oferece formas de variadas formas de
                            pagamento, cada uma possuindo suas vantagens e desvantagens,
                            sendo possível pagar por boleto bancário, cartão de crédito ou
                            débito em conta. É possível também parcelar o valor em até 12
                            vezes, incidindo juros no período escolhido.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-3">
            <div class="conteudo">
                <div class="col col-1 col-w4">
                    <div class="block block-1 image">
                        <img alt="imagem2"
                             class="center autowidth"
                             src="~/css/Imagem2.png"
                             style="max-width: 400px" />
                    </div>
                </div>
                <div class="col col-2 col-w8">
                    <div class="block block-1 heading">
                        <h2>Porque Contratar um Seguro?</h2>
                    </div>
                    <div class="block block-2 paragraph">
                        <p>
                            Uma das principais razões para se contratar um seguro é a
                            garantia de uma proteção capaz de cobrir as despesas necessárias
                            e imediatas em um evento atípico. Assim, no caso de uma ausência
                            repentina ou da perda de bens em um acidente, você e sua família
                            estarão protegidos pela apólice do seguro.
                        </p>
                        <p>
                            Nesse sentido, havendo o furto do veículo da família, por
                            exemplo, a garantia de poder contar com a reposição desse bem
                            indispensável é essencial. Ao mesmo tempo, os compromissos
                            estarão protegidos com a disponibilidade de um carro reserva
                            para atender às necessidades imediatas. Por sua vez, considere a
                            ocorrência de um incêndio em sua residência. As perdas serão
                            ressarcidas, mas, até lá, onde você e sua família se abrigarão
                            nos primeiros dias? O seguro dará também a proteção de garantir
                            as diárias em um hotel por determinado período necessário.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-4">
            <div class="conteudo">
                <div class="col col-1 col-w6">
                    <div class="block block-1 heading">
                        <h2>
                            <span style="color: #ffffff">FAQ</span>
                        </h2>
                    </div>
                    <div class="block block-2 paragraph">
                        <h2>
                            <strong>O que acontece se houver perda total no veículo?</strong>
                        </h2>
                        <br />
                        <p style="color: #fff">
                            Você já deve ter ouvido falar que um “carro deu PT”, O PT nada
                            mais é do que a perda total, Nessa situação, os danos ao veículo
                            são maiores do que 75% do valor do auto. Então, ele não poderá
                            ser consertado. Quando a perda total acontece, o segurado recebe
                            a indenização integral do seguro, O valor normalmente é baseado
                            na tabela FIPE. Por isso, entrega ao indivíduo um montante
                            suficiente para a compra de um novo carro, já que o anterior
                            terá sido inutilizado, A indenização integral do seguro também é
                            paga quando o auto é roubado ou furtado, e não recuperado pela
                            polícia.
                        </p>
                        <br />
                        <h2>
                            <strong>
                                Fiz um seguro e sofri um sinistro. Qual o prazo para que seja
                                paga a indenização?
                            </strong>
                        </h2>
                        <br />
                        <p style="color: #fff">
                            As seguradoras começam a contar o prazo para pagamento da
                            indenização após a comunicação e entrega dos documentos. A
                            partir dessa data, há 30 dias para que o valor seja pago, Seja a
                            indenização parcial, seja integral, Vale lembrar que esse prazo
                            pode ser suspenso a qualquer momento, caso a seguradora ache
                            necessário solicitar novos documentos, ou se houver alguma
                            dúvida que precise ser esclarecida, Após a resolução da
                            pendência, o prazo voltará a ser contado de onde parou, Ou seja,
                            se faltavam 20 dias para a data máxima de pagamento, assim que o
                            prazo voltar a contar faltarão novamente 20 dias para a data
                            limite.
                        </p>
                        <br />
                        <h2>
                            <strong>
                                Se eu estiver bêbado e bater o carro, a seguradora vai me
                                indenizar?
                            </strong><br />
                        </h2>
                        <p style="color: #fff">
                            Não. Se estiver bêbado ou sob efeito de drogas, a seguradora não
                            pagará nenhuma indenização, O mesmo vale para o caso de você se
                            envolver em um acidente por estar infringindo alguma lei penal
                            ou de trânsito. Nesses casos, o segurado deixa de cumprir com as
                            suas obrigações com o seguro, pois terá descumprido a legislação
                            de trânsito e assumido os riscos.
                        </p>
                        <br />
                        <strong>
                            <h2>
                                Emprestei meu carro para um amigo e ele o bateu. O seguro
                                cobre?
                            </h2>
                        </strong>
                        <br />
                        <p style="color: #fff">
                            Se seu amigo é uma pessoa que não empresta seu carro com
                            frequência, não há com o que se preocupar você terá sim direito
                            a cobertura contratada, No entanto, se essa pessoa costuma
                            dirigir seu carro pelo menos uma vez por semana, ela precisará
                            estar inclusa no seu seguro como motorista adicional. Caso não
                            esteja, você não terá direito à cobertura dos danos, sejam eles
                            parciais ou totais. Portanto, se você mora com uma pessoa que
                            possa dirigir seu veículo, mesmo que apenas uma vez na semana,
                            tente incluir essa pessoa na sua apólice. Basta fazer um endosso
                            do seguro já vigente!
                        </p>
                    </div>
                </div>
                <div class="col col-2 col-w6">
                    <div class="block block-1 image">
                        <img alt="imagem1"
                             class="center autowidth"
                             src="~/css/Imagem1.jpg"
                             style="max-width: 600px" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-5">
            <div class="conteudo">
                <div class="col col-1 col-w12">
                    <div class="block block-1 heading">
                        <h1>Nosso Seguro</h1>
                    </div>
                    <div class="block block-2 paragraph">
                        <p>
                            Então agora que você entendeu como funciona o seguro e como deve
                            agir quando for necessário soliciata-lo, clique abaixo para fazer
                            sua cotação o mais rápido possível não perca tempo, a sua segurança é
                            primordial para nós.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-6">
            <div class="conteudo">
                <div class="col col-1 col-w12">
                    <div class="block block-1 image">
                        <a href="PIM-IV-master/formCotacao/index.html">
                            <img alt="seguro_de_carro_cotação"
                                 class="center autowidth"
                                 src="~/css/Seguro_de_carro_cotação.png"
                                 style="max-width: 1200px" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="footer">
        <div class="social">
            <a target="_blank"
               rel="noopener noreferrer"
               href="https://github.com/Je-Carlos/PIM-IV">
                <img src="~/css/github.svg" alt="" />
            </a>
            <a target="_blank"
               rel="noopener noreferrer"
               href="https://discord.gg/NB4ZQVMgq6">
                <img src="~/css/discord.svg" alt="" />
            </a>
            <a target="_blank"
               rel="noopener noreferrer"
               href="https://www.twitch.tv/gerarrdi">
                <img src="~/css/twitch.svg" alt="" />
            </a>
        </div>
        <ul class="list-footer">

            <a style="color: lightgray" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
           
            <li><a href="~/Cotacao">Cotação</a></li>
            
            <li><a href="~/Duvida">Dúvidas</a></li>
            
        </ul>
        <p class="copyright-footer">&copy; Copyright 2022 VS Security</p>
    </div>
</footer>
</html>
