@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
.main-login{
  width: 100vw;
  height: 100vh;
  background: #7bd2fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-button {
  border: none;
  background-color: #00A9FF;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.left-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-login h1{
  font-size: 3vw;
  color: #000000c0;
}
.left-login-image{
  width: 30vw;
  
}
.right-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-button {
  display: flex;
  align-items: center;
}
.register-button button {
  border: none;
  background-color: #00A9FF;
  border-radius: 5px;
  cursor: pointer;
}
.register-button:hover {
  background-color: #0088cc;
}
.register-button a{
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}
.card-login h1::after{
  content: '';
  display: block;
  width: 3.5rem;
  height: 0.2rem;
  background-color: #00A9FF;
  margin:0 auto;
  position: absolute;
  border-radius: 10px;
}

.card-login{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}
.card-login h1 {
  color: #000000c0;
  font-weight: 700;
  margin: 0;
}
.textfield{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.textfield input{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  color: #000000c0;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}
.textfield input:hover{
  background-color: #eeeeee75;
}
.textfield label{
  color: #000000c0;
  font-weight: 700;
  margin: 10px 0;
}

.button-login{
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #00A9FF;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00000056;
}
.button-login:hover{
  background-color: #0088cc;
}
