@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}
/* HEADER */
.container-header {
  background: #00a9ff;
  color: #000000c0;
  width: 100vw;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9px;
  transition: all 0.5s ease;
}

.logo {
  height: 90px;
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.navbar {
  display: flex;
  list-style-type: none;
}
.navbar a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: #000000c0;
}
.main-header {
  display: flex;
  align-items: center;
}
.main-header a {
  margin-right: 25px;
  margin-left: 10px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.5s ease;
}
.main-header a:hover {
  color: #000000c0;
}
.user {
  display: flex;
  align-items: center;
}
.user img {
  font-size: 28px;
  margin-right: 10px;
}
/* MAIN */
.main-login {
  width: 100vw;
  height: 100vh;
  background: #7bd2fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-button {
  border: none;
  background-color: #00a9ff;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-login h1 {
  font-size: 3vw;
  color: #000000c0;
}
.left-login-image {
  width: 30vw;
}
.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-button {
  display: flex;
  align-items: center;
}
.register-button button {
  border: none;
  background-color: #00a9ff;
  border-radius: 5px;
  cursor: pointer;
}
.register-button:hover {
  background-color: #0088cc;
}
.register-button a {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}
.card-login h1::after {
  content: "";
  display: block;
  width: 3.5rem;
  height: 0.2rem;
  background-color: #00a9ff;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}
.card-login h1 {
  color: #000000c0;
  font-weight: 700;
  margin: 0;
}
.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.textfield input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  color: #000000c0;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield input:hover {
  background-color: #eeeeee75;
}
.textfield label {
  color: #000000c0;
  font-weight: 700;
  margin: 10px 0;
}

.button-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #00a9ff;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00000056;
}
.button-login:hover {
  background-color: #0088cc;
}

/* FOOTER */
.footer{
  padding: 25px 0;
  background: #005580;
}
.footer .social {
  text-align: center;
  padding: 25px;
}
.footer .social a{
  font-size: 24px;
  border: 1px solid #00000056;
  background-color: #fff;
  width: 30px;
  height: 30px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.60;
  transition: all 0.5s ease;
}

.footer .social a:hover{
  opacity: 1;
}
.footer ul {
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}
.footer ul li a{
  color: #fff;
  opacity: 0.80;
  transition: all 0.5s ease;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a:hover{
  opacity: 1;
}
.footer .copyright-footer{
  text-align: center;
  font-size: 13px;
  color: #fff;
  padding-top: 15px;
  opacity: 0.80;
  transition: all 0.5s ease;
}
@media screen and (max-width: 900px) {
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}

@media screen and (max-width: 1080px) {
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
